/*--------------------------Mobile---------------------------------*/
@media (max-width: 767px) {
  nav a {
    font-size: 1em;
    padding: 15px 5px;
  }

  nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }

  .nav-main li {
    background-color: #6375ab;
    padding: 10px 0px;
  }

  .social-media {
    display: none;
  }

  .copyright {
    font-size: 0.8em;
  }

  .store-nav {
    display: none;
  }

  #menu-checkbox:checked ~ .store-nav {
    display: block;
  }

  .more-like-this {
    display: none;
  }

  .product h1,
  .details h1 {
    font-size: 1.3em;
    letter-spacing: 1px;
  }
}

/*-------------------------Tablet-------------------------------*/
@media (min-width: 768px) and (max-width: 1039px) {
  header {
    padding-bottom: 5px;
  }

  main {
    background-repeat: no-repeat;
  }

  .nav-right {
    display: inline;
  }

  nav li {
    font-size: 0.8em;
  }

  header .logo {
    margin-right: 0px;
    margin-left: 20px;
  }

  .mobile-logo {
    padding: 15px;
  }

  .search a {
    display: block;
  }

  h1 {
    font-size: 1.8em;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr auto;
    align-items: center;
    gap: 30px;
  }

  .game-list,
  .new-releases,
  .more-like-this {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 30px;
    grid-gap: 20px;
  }

  /* HOME */
  .game-list {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .pricing {
    font-size: 0.9em;
  }

  .sell-games-text {
    margin-left: 30px;
  }

  .sell-games p {
    font-size: 1.1em;
    line-height: 22pt;
    max-width: 600px;
    margin-left: 0px;
  }

  .sell-games h1 {
    font-size: 3.5em;
    letter-spacing: 4px;
    margin: 20px 0px;
  }

  .sell-games .cta {
    max-width: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  /* STORE */
  .store-html main {
    padding-bottom: 0px;
  }

  .store-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 50px;
    margin-right: 50px;
  }

  .trending h1 {
    margin: 0px;
  }

  .trending {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1200px;
    margin: auto;
    grid-gap: 35px;
    padding-bottom: 80px;
  }

  .search-store {
    padding: 20px;
    grid-template-columns: 1fr auto;
  }

  .cta-search {
    display: inline;
  }

  #menu-checkbox,
  .search-store img {
    display: none;
  }

  .more-like-this {
    display: none;
  }
  /* STORE */
  .product {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 800px;
    margin: 50px auto 25px auto;
  }

  .product-photo {
    margin: 0px;
  }

  .product-description {
    margin-bottom: 0px;
    padding: 0px 50px;
    display: grid;
    align-content: center;
  }

  .product-description h1,
  .details h1 {
    font-size: 1.5em;
  }

  .da-description {
    margin: 0px 0px 20px 0px;
    max-width: 500px;
    font-size: 0.8em;
    line-height: 16pt;
  }

  .product-price {
    grid-template-columns: auto auto auto auto;
    gap: 11px;
  }

  .product-price .sale-price,
  .product-price .old-price {
    font-size: 0.8em;
  }

  .product-price .sale {
    padding: 0px 10px;
    font-size: 1.8em;
  }

  .product-price .cta {
    grid-column: 4;
    font-size: 1.5em;
    padding: 10px 25px;
  }

  .product-images {
    grid-template-columns: repeat(3, auto);
    max-width: 1300px;
    margin: auto;
    overflow-x: hidden;
  }

  .details table {
    font-size: 0.8em;
  }

  .details {
    padding: 25px 30px;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 30px auto;
  }
}

/* ----------------------------Desktop------------------------------- */
@media (min-width: 1040px) {
  header {
    padding-bottom: 5px;
  }

  main {
    background-repeat: no-repeat;
  }

  .nav-right {
    display: inline;
  }

  .search-list {
    margin: 0px 15% 0px 55%;
  }

  .search a {
    display: block;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr auto;
    align-items: center;
    gap: 30px;
  }

  h1 {
    font-size: 1.8em;
  }

  .game-list,
  .new-releases,
  .more-like-this {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin: auto;
    grid-gap: 0px 23px;
  }

  /* HOME */
  .game-list {
    padding: 80px 0px;
  }

  .pricing {
    font-size: 1em;
  }

  .game-list h1,
  .new-releases h1 {
    margin: 24px 0px;
  }

  .new-releases {
    padding: 80px 0px 200px 0px;
  }

  .sell-games {
    min-height: 53vh;
  }

  .sell-games-text {
    padding-top: 80px;
  }

  .sell-games p {
    font-size: 1.2em;
    line-height: 25pt;
    max-width: 800px;
    padding-bottom: 50px;
    margin-left: 0px;
  }

  .sell-games h1 {
    font-size: 3.8em;
    letter-spacing: 5px;
    margin: 0px;
  }

  .sell-games .cta {
    max-width: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  /* STORE */
  .store-html main {
    padding-bottom: 0px;
  }

  .store-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 80px;
    margin-right: 80px;
  }

  .trending h1 {
    margin: 0px;
  }

  .trending {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 1200px;
    margin: auto;
    grid-gap: 35px;
    padding-bottom: 80px;
  }

  .search-store {
    padding: 20px;
    grid-template-columns: 1fr auto;
  }

  .cta-search {
    display: inline;
  }

  #menu-checkbox,
  .search-store img {
    display: none;
  }

  /* PRODUCT */
  .product {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 1200px;
    margin: 50px auto 25px auto;
  }

  .product-photo {
    margin: 0px;
  }

  .product-description {
    margin-bottom: 0px;
    padding: 0px 50px;
    display: grid;
    align-content: center;
  }

  .da-description {
    margin: 10px 0px 40px 0px;
    max-width: 600px;
  }

  .product-price {
    grid-template-columns: auto auto auto 50px auto;
    margin-top: 80px;
  }

  .product-price .sale {
    padding: 0px 30px;
    font-size: 2em;
  }

  .product-price .cta {
    grid-column: 5;
    font-size: 1.8em;
    padding: 10px 25px;
  }

  .product-images {
    grid-template-columns: repeat(3, auto);
    max-width: 1300px;
    margin: auto;
    overflow-x: hidden;
  }

  .details {
    padding: 25px 100px;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 30px auto;
  }
}

@media (min-width: 1040px) and (max-width: 1240px) {
  .pricing {
    font-size: 0.8em;
  }
}
