/*--------------------------Mobile---------------------------------*/
@media (max-width: 767px) {
  nav a {
    font-size: 1em;
    padding: 15px 5px;
  }

  nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }

  .nav-main li {
    background-color: #6375ab;
    padding: 10px 0px;
  }

  .social-media,
  .store-nav,
  .more-like-this,
  .cta-confirm-big,
  .checkout-back-big,
  .arrow,
  .cta-signup,
  .login {
    display: none;
  }

  .copyright {
    font-size: 0.8em;
  }

  #menu-checkbox:checked ~ .store-nav-hidden {
    display: block;
  }

  .product h1,
  .details h1,
  .cart-html h1,
  .checkout h1,
  .success-html h1,
  .contact-html h1,
  .about-info h1 {
    font-size: 1.3em;
    letter-spacing: 1px;
  }

  .index-html main,
  .store-html main {
    background-image: none;
    background: radial-gradient(circle, rgba(50, 56, 79, 1) 0%, rgba(98, 109, 148, 1) 100%);
  }

  .logo {
    margin: 0px;
  }

  header {
    display: grid;
  }

  .nav-right {
    grid-area: 1/1;
    justify-self: end;
    z-index: 2;
  }

  .nav-main {
    grid-area: 1/1;
  }

  .game-list,
  .new-releases {
    width: 90%;
    margin: auto;
  }

  .new-releases {
    padding: 30px 0px;
  }

  .view-more {
    grid-row: 7;
  }

  .cart-html h2 {
    font-size: 1em;
    letter-spacing: 0.5px;
  }

  .shopping-cart p {
    font-size: 0.9em;
  }

  .shopping-cart {
    padding: 20px 15px;
  }

  .shopping-cart img {
    grid-row: span 2;
  }

  .cart-title {
    align-self: end;
  }

  .cart-price {
    grid-area: 2/2;
  }

  .cart-total-price {
    justify-self: start;
  }

  .order-summary img {
    grid-row: span 2;
  }

  .summary-games,
  .games-in-cart {
    grid-column: span 2;
  }

  .contact-info h2 {
    font-size: 1.1em;
  }

  .contact-social-media p {
    font-size: 0.9em;
  }

  .about-info {
    background-color: #32384f;
  }
}

/*-------------------------Tablet-------------------------------*/
@media (min-width: 768px) and (max-width: 1039px) {
  header {
    padding-bottom: 5px;
  }

  main {
    background-repeat: no-repeat;
  }

  .nav-right {
    display: inline;
  }

  nav li {
    font-size: 0.8em;
  }

  header .logo {
    margin-right: 0px;
    margin-left: 20px;
  }

  .mobile-logo {
    padding: 15px;
  }

  .search a {
    display: block;
  }

  h1 {
    font-size: 1.8em;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr auto;
    align-items: center;
    gap: 30px;
  }

  .game-list,
  .new-releases,
  .more-like-this {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 30px;
    grid-gap: 20px;
  }

  /* HOME */
  .game-list {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .pricing {
    font-size: 0.9em;
  }

  .sell-games-text {
    margin-left: 30px;
  }

  .sell-games p {
    font-size: 1.1em;
    line-height: 22pt;
    max-width: 600px;
    margin-left: 0px;
  }

  .sell-games h1 {
    font-size: 3.5em;
    letter-spacing: 4px;
    margin: 20px 0px;
  }

  .sell-games .cta {
    max-width: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  .view-more {
    background-color: #000;
    opacity: 0.4;
    font-size: 1.5em;
    border: none;
    grid-area: 3/3;
  }

  /* STORE */
  .store-html main {
    padding-bottom: 0px;
  }

  .store-nav {
    padding: 20px;
  }

  .store-nav h2 {
    font-size: 1em;
  }

  .store-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 50px;
    margin-right: 50px;
  }

  .trending h1 {
    margin: 0px;
  }

  .trending {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1200px;
    margin: auto;
    padding-bottom: 40px;
  }

  .search-store {
    padding: 20px;
    grid-template-columns: 1fr auto;
  }

  .cta-search {
    display: inline;
  }

  #menu-checkbox,
  .search-store img,
  .more-like-this,
  .cta-confirm-big,
  .checkout-back-big,
  .cod,
  .arrow,
  .slide-icons {
    display: none;
  }

  /* PRODUCT PAGE */
  .product {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 800px;
    margin: 50px auto 25px auto;
  }

  .product-photo {
    margin: 0px;
  }

  .product-description {
    margin-bottom: 0px;
    padding: 0px 50px;
    display: grid;
    align-content: center;
  }

  .product-description h1,
  .details h1 {
    font-size: 1.5em;
  }

  .da-description {
    margin: 0px 0px 20px 0px;
    max-width: 500px;
    font-size: 0.8em;
    line-height: 16pt;
  }

  .product-price {
    grid-template-columns: auto auto auto auto;
    gap: 11px;
  }

  .product-price .sale-price,
  .product-price .old-price {
    font-size: 0.8em;
  }

  .product-price .sale {
    padding: 0px 10px;
    font-size: 1.8em;
  }

  .product-price .cta {
    grid-column: 4;
    font-size: 1.5em;
    padding: 10px 25px;
  }

  .product-images {
    grid-template-columns: repeat(3, auto);
    max-width: 1300px;
    margin: auto;
    overflow-x: hidden;
  }

  .details table {
    font-size: 0.8em;
  }

  .details {
    padding: 25px 30px;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 30px auto;
  }

  /* CART */
  .shopping-cart {
    padding: 20px 80px 60px 80px;
    margin: 30px 50px;
  }

  .cart-price,
  .cart-title {
    align-self: center;
  }

  .cart-price {
    justify-self: end;
  }

  .cart-total-price {
    grid-column: 3;
  }

  .cart-item,
  .order-item {
    grid-template-columns: max(180px) auto auto;
  }

  .cart-html h1 {
    grid-column: span 3;
  }

  .cta-checkout {
    grid-column: span 2;
  }

  /* CHECKOUT */
  .checkout {
    max-width: 600px;
    margin: 30px auto;
    justify-content: center;
  }

  .checkout-back {
    margin-bottom: 50px;
  }

  /* SUCCESS */
  .order-complete {
    grid-template-columns: auto auto;
    max-width: 700px;
  }

  .order-complete h1 {
    margin: 15px 0px;
  }

  .order-complete p {
    grid-row: 2;
  }

  .order-complete img {
    grid-row: span 2;
    align-self: center;
    justify-self: end;
  }

  .order-summary .cart-title,
  .order-summary .cart-price {
    grid-row: 2;
    align-self: center;
  }

  .order-summary {
    max-width: 600px;
    padding: 15px 50px;
  }

  .order-summary h1 {
    grid-column: span 3;
  }

  .order-summary img {
    grid-area: 2/1;
  }

  .order-summary table {
    grid-area: 3/3;
  }

  .order-summary .cart-back {
    font-size: 0.9em;
    padding-bottom: 15px;
  }

  /* CONTACT */
  .contact-content {
    display: grid;
  }

  .support-img {
    grid-row: 3;
    min-height: 40vh;
  }

  /* ABOUT */
  .about {
    grid-template-rows: 1fr 1fr;
  }

  .about-info {
    max-width: 600px;
    margin: auto;
  }

  .about-info .cta {
    background-color: #583c6f;
  }
}

/* ----------------------------Wide tablet------------------------------- */

@media (min-width: 1040px) and (max-width: 1360px) {
  .game-list {
    padding: 80px 20px;
  }

  .new-releases {
    padding: 80px 20px 200px 20px;
  }
}

/* ----------------------------Desktop------------------------------- */
@media (min-width: 1040px) {
  header {
    padding-bottom: 5px;
  }

  header .logo {
    margin-left: 50px;
  }

  .nav-right {
    display: inline;
  }

  .search-list {
    margin: 0px 15% 0px 55%;
  }

  .search a {
    display: block;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr auto;
    align-items: center;
    gap: 30px;
  }

  h1 {
    font-size: 1.8em;
  }

  .game-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin: auto;
    grid-gap: 0px 23px;
  }

  .new-releases,
  .more-like-this {
    grid-template-columns:
      minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
      minmax(0, 1fr) 70px;
    margin: auto;
    grid-gap: 0px 23px;
  }

  /* HOME */
  .pricing {
    font-size: 1em;
  }

  .game-list h1,
  .new-releases h1 {
    margin: 24px 0px;
  }

  .sell-games {
    min-height: 53vh;
  }

  .sell-games-text {
    padding-top: 80px;
  }

  .sell-games p {
    font-size: 1.2em;
    line-height: 25pt;
    max-width: 800px;
    padding-bottom: 50px;
    margin-left: 0px;
  }

  .sell-games h1 {
    font-size: 3.8em;
    letter-spacing: 5px;
    margin: 0px;
  }

  .sell-games .cta {
    max-width: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  /* STORE */
  .store-html main {
    padding-bottom: 0px;
  }

  .store-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 80px;
    margin-right: 80px;
  }

  .trending h1 {
    margin: 0px;
  }

  .trending {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 1200px;
    margin: auto;
    grid-gap: 35px;
  }

  .search-store {
    padding: 20px;
    grid-template-columns: 1fr auto;
  }

  .cta-search {
    display: inline;
  }

  #menu-checkbox,
  .search-store img,
  .checkout-back,
  .cta-confirm-small,
  .contact-html .search,
  .about-html .search,
  .view-more,
  .slide-icons {
    display: none;
  }

  /* PRODUCT */
  .product {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 1200px;
    margin: 50px auto 25px auto;
  }

  .product-photo {
    margin: 0px;
  }

  .product-description {
    margin-bottom: 0px;
    padding: 0px 50px;
    display: grid;
    align-content: center;
  }

  .da-description {
    margin: 10px 0px 40px 0px;
    max-width: 600px;
  }

  .product-price {
    grid-template-columns: auto auto auto 50px auto;
    margin-top: 80px;
  }

  .product-price a {
    grid-column: 5;
  }

  .product-price .sale {
    padding: 0px 30px;
    font-size: 2em;
  }

  .product-price .cta {
    font-size: 1.8em;
    padding: 10px 25px;
  }

  .product-images {
    grid-template-columns: repeat(3, auto);
    max-width: 1300px;
    margin: auto;
    overflow-x: hidden;
  }

  .details {
    padding: 25px 100px;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 30px auto;
  }

  /* Cart */
  .shopping-cart {
    margin: 30px auto;
    grid-template-columns: max(180px) auto auto;
    max-width: 1000px;
    padding-bottom: 60px;
  }

  .cart-html h1 {
    grid-column: span 3;
  }

  .cart-html h2 {
    grid-area: 3 / 3;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .cart-total-price {
    grid-area: 4 / 3;
    margin: 0px;
  }

  .cta-checkout {
    margin-top: 40px;
    grid-area: 5 / 3;
  }

  .cart-price,
  .cart-title {
    align-self: center;
  }

  .cart-price p {
    margin: 0px;
  }

  .cart-back {
    grid-column: span 2;
    margin-left: 20px;
  }

  .cart-price,
  .cart-total-price,
  .cart-html h2,
  .cta-checkout {
    justify-self: end;
  }

  .cart-item,
  .order-item {
    grid-template-columns: max(180px) auto auto;
  }

  /* Checkout */

  .checkout {
    max-width: 920px;
    margin: 30px auto;
    grid-template-columns: auto auto;
    padding: 0px 80px;
  }

  .checkout h1 {
    grid-column: -1/1;
  }

  .checkout fieldset {
    margin-bottom: 50px;
  }

  .checkout input {
    width: 80%;
    height: 35px;
  }

  .card-info {
    max-width: fit-content;
  }

  .order {
    width: auto;
    align-self: start;
    padding: 20px 10px 5px 10px;
    margin-left: 50px;
    margin-top: 30px;
    max-width: 320px;
  }

  .order table {
    margin-top: 110px;
  }

  .checkout-back-big {
    margin: 20px 0px 0px 20px;
  }

  /* SUCCESS */
  .order-complete {
    grid-template-columns: auto auto;
    max-width: 1200px;
  }

  .order-complete h1 {
    margin: 15px 0px;
  }

  .order-complete p {
    grid-row: 2;
  }

  .order-complete img {
    grid-row: span 2;
    align-self: center;
    justify-self: end;
  }

  .order-summary {
    max-width: 1000px;
    padding: 15px 50px;
  }

  .order-summary h1 {
    grid-column: span 3;
  }

  .order-summary table {
    grid-area: 3/3;
  }

  .order-summary .cart-back {
    font-size: 0.9em;
    padding-bottom: 15px;
  }

  /* CONTACT */
  .contact-content {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .contact-html .search {
    background-image: url(/images/background-grey.png);
  }

  .support {
    padding: 40px 100px;
    gap: 0px;
    align-content: center;
  }

  .contact-html h1 {
    font-size: 1.6em;
    font-weight: 400;
  }

  .support p {
    max-width: 400px;
    margin-bottom: 30px;
  }

  .support-img {
    grid-area: 1/1;
    min-height: 50vh;
  }

  .contact-info {
    grid-area: 2 / span 2;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    column-gap: 150px;
  }

  .email,
  .call {
    grid-column: 1;
  }

  .contact-social-media {
    grid-area: 2/2;
    align-self: center;
  }

  /* ABOUT */
  .about {
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    min-height: 90vh;
  }

  .about-img {
    background-image: url(/images/fantasy-landscape.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  .about-info {
    display: grid;
    align-content: start;
    margin: auto;
    padding: 0px;
    max-width: 450px;
  }

  .about-info h1 {
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 0px;
  }

  .about-info p {
    margin: 10px 0px;
  }

  .about-info-p {
    padding-bottom: 50px;
  }

  .about-info .cta {
    justify-self: start;
    background-color: #583c6f;
  }
}

@media (min-width: 1040px) and (max-width: 1240px) {
  .pricing {
    font-size: 0.8em;
  }
}

@media (min-width: 1361px) {
  .game-list {
    padding: 80px 0px;
  }

  .new-releases {
    padding: 80px 0px 200px 0px;
  }
}
