header,
footer {
  background-color: #f2f2f2;
}

footer {
  color: #000;
}

h1,
h2,
nav {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
}

body {
  color: #f2f2f2;

  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

main {
  background-color: #32384f;
}

.pricing {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
}
header a {
  text-decoration: none;
  color: #1d2540;
}

.search {
  background-color: #1d2540;
}

.search a {
  color: #f2f2f2;
  text-decoration: none;
}

.sale-price {
  color: #fcff58;
}

.sale {
  background-color: #fcff58;
  color: #fff;
}

.old-price {
  color: #c4c4c4;
  text-decoration: line-through;
}

.cta {
  background-color: #583c6f;
  font-family: "Squada One";
}

.logo {
  max-width: 140px;
}

.game-list img {
  width: 284px;
  height: 328px;
  object-fit: cover;
}

.cover-top {
  object-position: top;
}

.sell-games {
  background-image: url(/images/gameboy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 53vh;
  background-position-x: center;
}

.cta-search {
  background-color: #6375ab;
  font-family: "Squada One";
}

.trending img {
  width: 370px;
  height: 471px;
  object-fit: cover;
  padding: 10px;
}
