header,
footer {
  background-color: #f2f2f2;
}

header {
  margin: -16px 0px;
  position: sticky;
  top: 0px;
  width: 100%;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

footer {
  color: #000;
}

h1,
h2,
nav {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline;
}

.login {
  text-transform: lowercase;
  font-size: 1em;
}

body {
  color: #f2f2f2;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

main {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
}

header a {
  text-decoration: none;
  color: #1d2540;
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 20px;
}

.search {
  background-color: #1d2540;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 10px 200px 10px 600px;
}

.search a,
.search-store a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
}

.cta {
  background-color: #583c6f;
  color: #f2f2f2;
  font-family: "Squada One";
  padding: 15px 60px;
  border-radius: 10px;
  font-size: 2.6em;
  text-transform: uppercase;
  font-weight: lighter;
  text-decoration: none;
}

.logo {
  max-width: 140px;
}

.cover-top {
  object-position: top;
}

/* Home */

.game-list img {
  width: 284px;
  height: 328px;
  object-fit: cover;
}

.pricing {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
}

.sale-price {
  color: #fcff58;
}

.sale {
  background-color: #fafb8e;
  color: #fff;
}

.old-price {
  color: #c4c4c4;
  text-decoration: line-through;
}

.sell-games {
  background-image: url(/images/gameboy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 53vh;
  background-position-x: center;
  display: inline-block;
  padding-left: 200px;
}

.sell-games h1 {
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Store */
.trending img {
  width: 370px;
  height: 471px;
  object-fit: cover;
  padding: 10px;
}

.search-store {
  background-color: #1d2540;
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 10px 100px 10px 300px;
}

.cta-search {
  background-color: #6375ab;
  font-family: "Squada One";
  border-radius: 10px;
  font-size: 2.6em;
  text-transform: uppercase;
  font-weight: lighter;
  text-decoration: none;
}

/* Checkout */
.form-input {
  display: block;
}
